<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script th:src="@{/js/jquery-3.6.0.slim.js}"></script>
<script>
$(document).ready(function() {
	$('#bt1').on('click', function(){	
		//대상이 여러개일때 : each()는 jQuery에서의 반복문
		//i는 배열의 인덱스(0,1,2,3...), ob는 each앞에 있는 객체의 첫번재 객체(첫번째 h2)
		
		$('h2').each(function(i, ob){
			alert(i + ', ' + $(ob).html());
		});
	}); 
	
	$('#bt2').on('click',  function(){
 		let s = $('h2').text(); //현재 페이지에 h2 태그를 쓴 부분에서 text함수로 읽어서 출력
		alert(s);	 		
		
	});	
	
	$('#bt3').on('click',  function(){
 		let s = $('#text1').val(); 
		alert(s);	 		
		
	});	
	
	$('#bt4').on('click',  function(){
 		$('#div1').html('<p style="color:red;">html함수로 변경한 내용</p>');
 		$('#div2').text('text함수로 변경한 내용');
 		$('#text2').val('val함수로 변경한 내용');
	});	
	
	/* 특정 값의 속성을 읽거나 수정하는 attr() */
	$('#bt5').on('click',  function(){
 		let s = $('#heart').attr('src'); //앞에 있는게 태그, 그 중에서도 속성 이름(보라색 글씨)이 src인 것을 읽어옴 : 속성 읽어오는 역할
		alert(s);
		$('#heart').attr('src', '../image/tegami.png'); //경로로 가리키는 대상을 변경 -> 보여지는 그림이 바뀜.
	//$('#heart').attr('src', '[[@{/image/tegami.png}]]'); 같은 의미 다른 코드
	});	
	
	/* css 입히기 */
	$('#bt6').on('click',  function(){
 		let w = $('#heart').css('width');
 		let h = $('#heart').css('height');
		alert(w +' ,' + h);
		
		//수정 (수정 전에 위와 같이 리턴 값 확인하고 수정 값 넣어주기)
		$('#heart').css('width', '80px');
		$('#heart').css('height', '80px');
	});	
	
	/* 하트가 두근두근 : mouse 올리면 커지고 내리면 작아짐*/
	$('#heart').on('mouseenter',  function(){
		$('#heart').css('width', '280px');
		$('#heart').css('height', '280px');
	});	
	
	$('#heart').on('mouseleave',  function(){
		$('#heart').css('width', '80px');
		$('#heart').css('height', '80px');
	});	
	
	$('#bt7').on('click', function(){
		$('#tegami').removeClass('classA');
		$('#tegami').addClass('classB');
	});
	

	$('#bt8').on('click', function(){
		$('#tegami').removeClass('classB');
		$('#tegami').addClass('classA');
	});
	
});

</script>

<style>
.classA{
	width : 100px;
	height : 100px;
	border : 3px solid olive;
}
.classB{
	width : 300px;
	height : 300px;
	border : 5px dotted tan;
}
</style>

</head>
<body>
<h2>[문서 객체 조작 메소드]</h2>
<pre>
	html(), text(), val(), attr(), css(), addClass(), removeClass()
</pre>

<p><input type="button" id="bt1" value="html() 함수"></p>
<p><input type="button" id="bt2" value="text() 함수"></p>
<p><input type="button" id="bt3" value="val() 함수"></p>

	<h2><b>h2</b> b태그를 사용한 문자열 1</h2>
	<h2><i>h2</i> i태그를 사용한 문자열 1</h2>
	<p><input type="text" id="text1"></p>
	
	
	<p>문서의 값 변경</p>
	<p><input type="button" id="bt4" value="값 변경"></p>
	<div id="div1">원래 내용1</div>
	<div id="div2">원래 내용2</div>
	<p><input type="text" id="text2" value="원래 내용"></p>
	
	<p><input type="button" id="bt5" value="attr() 함수"></p>
	<p><input type="button" id="bt6" value="css() 함수"></p>
	
	<p><input type="button" id="bt7" value="addClass() 함수"></p>
	<p><input type="button" id="bt8" value="removeClass() 함수"></p>
	
	<p><img th:src="@{/image/heart.png}" id="heart" ></p>
	<p><img th:src="@{/image/tegami.png}" id="tegami" class="classA"></p>
	
</body>
</html>