<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>param3.html</title>
</head>
<body>
	<h2>[ GET method로 parameter 전달 - 객체로 전달]</h2>
	<form action="input3" method="get">	
	<p>이름<input type="text" name="name"></p>
	<p>전화 : 
	KT<input name="phone" type="radio" value="KT">
	SKT<input name="phone" type="radio" value="SKT">
	LG<input name="phone" type="radio" value="LG"><br>
	<input type="text" name="phonenum">
	</p>
	<p>
	<input type="submit" value="전송">&nbsp;
	<input type="reset" value="초기화">&nbsp;
	</p>
	</form>
</body>
</html>